.ramp {
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.92, 0.29, 0.74, 1.29);
    transition-delay: 0s;
    position: absolute;
}

.ramp-outer {
    width: 80px;
    height: 80px;
}

.ramp-outer.reverse {
    transform: scaleX(-1);
}

.part.part-tilt {
    transform: rotateZ(-90deg);
}

@keyframes ball-movement-across {
    0% {
      transform: translate(55px, -17px);
    }
    5% {
        transform: translate(53px, -14px);
      }
    25% {
        transform: translate(10px, -2px);
    }
    50% {
        transform: translate(0px, 12px);
    }    
    95% {
        transform: translate(-14px, 27px);
    }
    100% {
        transform: translate(-15px, 48px);
    }
}

@keyframes ball-movement-down {
    0% {
      transform: translate(5px, -17px);
    }
    5% {
        transform: translate(2px, -14px);
      }
    25% {
        transform: translate(0px, -2px);
    }
    50% {
        transform: translate(-3px, 12px);
    }    
    95% {
        transform: translate(-10px, 27px);
    }
    100% {
        transform: translate(-15px, 48px);
    }
}

.ramp-outer .ball {
    position: absolute;
    opacity: 0;
    z-index: 2;
    animation-fill-mode: forwards;
}

.ramp-outer .ball.ball-blue > circle {
    fill: blue;
}

.ramp-outer .ball.ball-red > circle {
    fill: red;
}

.ramp-outer .ball.in-transit.transit-across {
    animation: ball-movement-across 400ms 1 linear;
    opacity: 1;
}

.ramp-outer .ball.in-transit.transit-down {
    animation: ball-movement-down 400ms 1 linear;
    opacity: 1;
}
